
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{usuario.avatar}}" alt="foto del usuario">
      <div class="input-group">
        <span class="input-group-addon">ID</span>
        <input type="number" class="form-control" placeholder="{{usuario.id}}">
      </div>
<div class="input-group">
  <span class="input-group-addon">Nombre</span>
  <input type="text" class="form-control" placeholder="{{usuario.nombre}}">
</div>
 
<div class="input-group">
  <span class="input-group-addon">Apellido</span>
  <input type="text" class="form-control" placeholder="Apellido de usuario">
</div>
<div class="input-group">
  <span class="input-group-addon">Email</span>
  <input type="text" class="form-control" placeholder="email">
</div>
 

</div>
</div>
</div>