

    <div class="col-sm-12 col-md-12"
    (click)="seleccionar($event)">
      <div class="thumbnail">
        <img class="logo" *ngIf="isGlutenFree" src="assets/imgs/gluten_icon.png" alt="Con gluten" >
        <img class="logo" *ngIf="!isGlutenFree"src="assets/imgs/gluten_free_icon.png" alt="Sin GLuten">
  
        <img src="{{r1.foto}}" alt="tortilla">
        <div class="caption">
          <h3>{{r1.nombre | uppercase}}</h3>
       
          <p>{{r1.descripcion | slice:0:100}}...</p>
          <p>
            <span class="cocinero">{{r1.cocinero}}</span>
            <span class="label label-primary" (click)="sumarLike()">Likes {{r1.likes}}</span></p>
          
          <section class="ingredientes">
        
            
          <ol *ngIf="show">
            <li *ngFor="let ingrediente of receta.ingredientes">
                {{ingrediente}}
            </li>
           
          </ol>
        </section>
       
        </div>
      </div>
    </div>
