<section id="propiedades">
  <h2> <strong>Propiedades</strong></h2>
  <p>Componente para jugar con las propiedades en Angular, pagina 36 del manual</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veritatis sed obcaecati unde corrupti provident autem dolore cupiditate impedit maxime facere, voluptate assumenda, dolor recusandae necessitatibus aspernatur rem ad! Officiis.</p>
<h3>Propiedad[style]</h3>

  <p [style.color]="color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione illum quia natus quis mollitia error autem, nesciunt, porro dolor inventore doloribus adipisci placeat pariatur quae, nobis rerum ducimus itaque minus.</p>
  <p [style.backgroundColor]="'pink'">[style.backgroundColor]="'pink'"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione illum quia natus quis mollitia error autem, nesciunt, porro dolor inventore doloribus adipisci placeat pariatur quae, nobis rerum ducimus itaque minus.</p>



  <h3>Propiedad [hidden]</h3>
  <p [hidden]="!ocultar">VISIBLE- Podemos usar el operador de negacion</p>
  <p [hidden]="ocultar">NO-VISIBLE- Podemos usar el operador de n</p>


  <h3>Propiedad [href]</h3>
  <a [href]="enlace" target="_blank">API angular</a>
</section>
