/* You can add global styles to this file, and also import other style files */


//colores



$primary-color:#308010;


p{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
footer{
    font-size: 1em;
}
