<p>Ejemplo de un Componente Padre <b>RecetarioComponent</b> e Hijo <b>DetalleComponent</b>. Aprender a pasar parametros de una a otro @input @output</p>


<nav aria-label="Catalogo de Recetas">
    <ul class="pagination">
        <li *ngFor="let detalle of stocks" [class.active]="detalle == recetaSelec">
            <a>{{detalle.nombre}} </a>
        </li>    
    </ul>
</nav>
<div class="container">
        <!--Formulario con ventana modal-->
        <app-formulario></app-formulario>



    <!-- Buscador de recetas -->
    <div class="input-group" id="buscadorRecetas">   
      <input type="text" class="form-control" placeholder="Busca receta por nombre, cocinero o ingredientes" [(ngModel)]="searchText">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
    </div>

    <br>
<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Catalogo Recetas</h3>
                </div>
                <div class="panel-body">
                   
                    <!-- llamda componente Hijo -->
                    <app-lista [stockParametro]="stocks"
                    (eventoEmitir)="recibirDetalle($event)"></app-lista> 
                   
                </div>
        </div>
    </div>  
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Detalle</h3>
            </div>
            <div class="panel-body">
                
                <!-- llamda componente Hijo -->
                <app-recetadetalle [r1]="recetaSelec"></app-recetadetalle>
               
                
            </div>
        </div>
    </div>    
    </div>
    </div>